* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

button{
    font-size: 1em;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow:rgba(0,0,0,0.5);
    color: #6699FF;
    background-color: #CCE6FF;
}

button:hover{
    color: #344182;
    background-color: #6699FF;
}

h1 {font-size: 3.5em;}
h2 {
    font-size: 2.7em;
    font-family: 'Noto Serif', serif;
    color: #6699FF;
}
h3 {font-size: 2.4em;
    font-family: 'Noto Serif', serif;
}

h4 {font-size: 1.1em;
    font-family: 'Noto Serif', serif;
}

p {font-size: 1.25em;
   font-family: 'Noto Serif', serif;
}

body {
    background-color: #e6f2ff;
    margin: 0, 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: #CCE6FF;
}

header .logo {
    margin: 0;
    padding: 12px 12px;
    font-family: 'Noto Serif', serif;
    font-weight: bolder;    
    font-size: 2em;
    color: #6699FF;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 12px;
}

header a {
    padding: 5px, 12px;
    text-decoration: none;
    color: #6699FF;
}

header a:hover {
    color: #344182;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(245,245,245);
    height: 80vh;
    
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/imagenes/berlin_players.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-clip: padding-box;
    background-size: cover;

    padding: 20px 20px;
    margin: 0;
}

#hero h2{
    font-size: 1.7em;
    color: #CCE6FF;
    padding: 40px;
}

#hero h3{
    font-size: 1.1em;
    font-weight: lighter;
    padding: 10px;
}

#conoceme{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#conoceme h2{
    padding: 30px;   
}

#conoceme .container{
    text-align: center;
    padding: 70px 12px;
}

#mis_estudios{
    
}

#mis_estudios .container{
    text-align: center;
    padding: 50px 0px;
}

#mis_estudios .hide{
    display: none;
}

.show{
    display: block;        
}

#mis_estudios .estudios{
    padding: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-clip: padding-box;
    background-size: cover;
    color: #CCE6FF;
    margin: 12px;
    border-radius: 15px;
}
.estudios:first-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/imagenes/berlin_rio_spree.jpeg);
}

.estudios:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/imagenes/london_camden.jpeg);
}

.estudios:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/imagenes/roma_puente.jpeg);
}

#expe_laborales{
    font-family: 'Noto Serif', serif;
}

#expe_laborales .container{
    text-align: center;
    padding: 50px 0px;
}

#expe_laborales p{
    display: none;
}

#expe_laborales h2{
    margin-top: 0;
    padding: 20px;
}

#expe_laborales .trabajos{
    padding: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-clip: padding-box;
    background-size: cover;
    color: #CCE6FF;
    margin: 12px;
    border-radius: 15px;
}

.trabajos:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/imagenes/barcelona_muelle.jpeg);
}

.trabajos:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/imagenes/paris_rio_sena.jpeg);
}

.trabajos:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/imagenes/paris_bridge.png);   
}

.trabajos:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/imagenes/berlin_reichstag.jpeg);   
}

footer {
    background-color: #CCE6FF;

}

footer .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 12px;
    color: #6699FF;
}

@media (min-width: 770px){
    header{
        position: fixed;
        width: 100%;
    }
    
    header .container{
        flex-direction: row;
        justify-content: space-between;

    }

    header nav{
        flex-direction: row;
        padding-right: 10px;
    }

    header a{
        padding: 12px;
    }

    #hero .container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #hero h2{
        padding: 10px;
    }

    #hero .presentacion{
        width: 60%;
        max-width: 800px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
    }

    #hero .img_container{
        background-image: url("/imagenes/retrato_wb.jpg");
        background-size: cover;
        background-position: center center;
        height: 300px;
        width: 300px;
        margin-top: 20px;
        border-radius: 180px;
    }

    #mis_estudios .estudios_container{
        display: flex;
        justify-content: space-evenly;
    }

    #mis_estudios .hide{
        display: block;
        padding: 15px;
    }

    #mis_estudios .estudios{
        padding: 15px;
    }

    #mis_estudios button{
        display: none;
    }

    #expe_laborales .expe_laborales_container{
        display: flex;
        justify-content: space-evenly;
    }

    #expe_laborales h3{
        font-size: 1.5vw;
    }

    #expe_laborales p{
        display: block;
        padding: 30px;
    }

    #expe_laborales .trabajos{
        padding: 15px;
        justify-content: space-evenly;
    }

    #expe_laborales button{
        display: none;
    }

    #contactame .container{
        text-align: end;
    }
}